body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 205, 170);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  .card-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
  }
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  .card {
    flex: 10%;
    max-width: 100%;
    height: auto;
    background-color: rgb(92, 14, 41);
    border-radius: 5%;
    box-shadow: 0 10% 100% rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    justify-content: center;
    display:block;
    
  }
  
  .card img {
    max-width: 100%;
  height: auto;
    object-fit: cover;
    object-position: center;
    justify-content: center;
   
    
  }
  
  .card-content {
    padding: 20px;
    justify-content: center;
    display: block;
    
  }
  
  .card h2 {
    font-size: 100%; /* 2.5 veces el tamaño base de la fuente */
    margin-bottom: 10%;
    color: white;
     text-align:center;
     padding: 10px;

   
  }
  
  .card p {
  
    color: #ffffff;
    text-align: justify;
    display: block;
    font-size: 100%; /* 1.5 veces el tamaño base de la fuente */
  line-height: 1.0;
   
  }
  
  .card:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  }


  .imagen-de-fondo {
    background-image: url('../imagenes/uvas.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* Ajusta el tamaño y otros estilos del div según tus necesidades */
    max-width: 100%;
    height: auto;
    color: white;
    text-align: center;
    padding: 20px;
    
}

h2{
  font-size: 1.5rem; /* 1.5 veces el tamaño base de la fuente */
  line-height: 1.5;
  color: #ffffff;
  justify-content:center; 
  padding: 20px;
  
 
}

@media screen and (max-width: 800px) {
  .card-container {
      padding-top: 100%;
  }
}




