body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(219, 205, 170);

}







.nav-links li a{
  text-decoration: none; /*quitar subrayado*/
  color: rgb(255, 255, 255);
  padding: 5px 6.5px 5px 6.5px;
 
  font-family:Arial, Helvetica, sans-serif;
 font-style: normal;

text-align: center;
display: flex;
font-size: 50%;
max-width: 100%;

}

.nav-links li{
  list-style: none; /*quitar viñetas*/
  display:inline-block; /*linea horizontal*/
  text-align: center;

  font-weight: 600;
  padding:1%;
  
 
  

 
  

}

.menu1 li a:hover{ /*cuando pasa el cursor*/
background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
}

a{

  box-shadow: inset 0 0 0 0 #4d0202;

  color: #8a0606;

  padding: 0 .25rem;

  margin: 0 -.25rem;

  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

a:hover {

  color: #000000;

  box-shadow: inset 10% 0 0 0 #fffafa;;
  padding: 10px;

}





*{
  box-sizing: 0;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


.nav-links {
  list-style: none;
  display: flex;
}



.menu1{
  display: flex;

  align-items: center;
  justify-content:center;
  list-style: none; /*quitar viñetas*/
  width: 100%;
  height:100%;
  position:sticky;
  background-color:rgb(92, 14, 41);
  color: #fffafa;

 

}
.menu1{
  list-style: none; /*quitar viñetas*/
  padding: 20px;;
  margin: auto;
  max-width: 100%;
  background-color:rgb(92, 14, 41);
 
  

}



@media  (max-width: 400px) {
  .menu1 {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    flex: 0 0 100%;
  }

  .logo {
    max-width: 100%;
  }

  .nav-links {
    margin-top: 0%;
    text-align: center;
    flex: 0 0 100%;
  }

  .nav-links li {
    padding: 5px 0;
  }
  .container-fluid {
   max-width: 100%;
   margin:0px auto;
   font-size:1em;
  }
}


.container-fluid {
  max-width: 100%;
  height: auto;
  margin:0px auto;
  font-size:1em;
}




