
/* Estilos responsivos */


.menu{
  list-style: none; /*quitar viñetas*/
  padding: 10px;;
  margin: auto;
  max-width: 100%;
  background-color:rgb(92, 14, 41);
  display: flex;
 

  align-items: center;

 
  

}

.menu1{
  list-style: none; /*quitar viñetas*/
  padding: 1%;
  margin: 5px;
  max-width: 100%;
  height: auto;
  background-color:rgb(92, 14, 41);
  display: flex;
  justify-content:center;
  color: #fffafa;
  display: flex;



}

.nav-links li a{
  text-decoration: none; /*quitar subrayado*/
  color: rgb(255, 255, 255);
  padding: 1%; /*separar los elementos*/
  font-family:Arial, Helvetica, sans-serif;
  display:inline;
 font-style: normal;
font-weight: 600;
text-align: center;
font-size: 18px;
display: flex;

}

.menu1 li{
  list-style: none; /*quitar viñetas*/
  display: inline-block; /*linea horizontal*/
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

 
  

}

.menu1 li a:hover{ /*cuando pasa el cursor*/
background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
}

a{

  box-shadow: inset 0 0 0 0 #4d0202;

  color: #8a0606;

  padding: 0 .25rem;

  margin: 0 -.25rem;

  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

a:hover {

  color: #000000;

  box-shadow: inset 10% 0 0 0 #fffafa;;
  padding: 10px;

}

  .nav-links.active {
    transform: translateX(0);
  }

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0 10px;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu1 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(92, 14, 41);
  }
}

.nav-links.active {
  display: flex;
}














