slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  max-width: 100%; /* Imágenes responsivas */
  height: auto;
}

.logo img{

  max-width: 100%; /* Imágenes responsivas */
  height: auto;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide {
      flex: 0 0 100%;
  }
}

@media screen and (max-width: 768px) {
  header, nav, main, footer {
      padding: 10px;
  }
}
